# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
coscup-data-analysis/src/data/processed/
coscup-data-analysis/src/data/raw/sessions/

# Env
.env
.venv/
venv/
ENV/
env/

# Others
*.bak
*.swp
*.tmp